<!DOCTYPE html>
<html lang="en">

<head>
	<title>Vamsi Settypalli</title>
	<meta charset="utf-8" />
	{% load staticfiles %}
	<link rel="stylesheet" href="{% static 'personal/css/font-awesome.min.css' %}">
	<link rel="stylesheet" href="{% static 'personal/css/bootstrap.min.css' %}" type = "text/css"/>
	<link rel="stylesheet" href="{% static 'personal/style.css' %}">
	<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
	<meta name="viewport" content = "width=device-width, initial-scale=1.0">	
</head>

<body class="body" >

	<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
		<div class="navbar-header">
			Vamsi Settypalli
		</div>		
		<ul class="nav navbar-nav navbar-right">					
			<li><a href='/'>Home</a></li>
			<li><a href='/resume/'>Résumé</a></li>
			<li><a href='/contact/'>Contact</a></li>
		</ul>
	</nav> 



	<div class="container-fluid" >
		<div class="row">		
		  <div class="col-sm-12">		  
			<div class='container-fluid'>
			<br><br>
			   {% block content %}
			   {% endblock %}	
			</div>
		  </div>
		</div> 
	</div>
	<footer>
		<div class="container-fluid">
			<div class="row row-handle" >
				<div class="col-xs-12 col-md-12 col-handle">
					<a href="https://github.com/Narutuffy" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a> &nbsp
					<a href="https://plus.google.com/+VamsiRao7" target="_blank"><i class="fa fa-google-plus-official" aria-hidden="true"></i></a>	&nbsp
					<a href="https://twitter.com/VamsiRao7" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
					&nbsp
					<a href="https://www.linkedin.com/in/vamsi-settypalli-7a26bb113" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>&nbsp
					<a href="https://medium.com/@VamsiRao7" target="_blank"><i class="fa fa-medium" aria-hidden="true"></i></a>
				</div>
			</div>
		</div>
		
	</footer>	
	
</body>

</html>